body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: auto;
  font-family: "Prompt", sans-serif;
  margin: 0;
  align-content: flex-start;

}

.wrapper {
  width: 100%;
  position: relative;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.text-label {
  width: 390px;
  height: 493px;
  background: #AFB0B4;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-sizing: border-box;
  justify-content: center;
}

.text-label h2 {
  font-size: 32px;
  font-weight: 600;
  color: #F9F9F9;
}

.text-label p {
  font-size: 16px;
  font-weight: 300;
  color: #F9F9F9;
}

.carousel-container {
  flex: 1;
  position: relative;
  min-width: 300px;
}

.carousel .card:nth-child(1) {
  background-image: url('./img/image 21 (1).png');
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 600px;
  max-width: 100%;
}

.carousel .card:nth-child(3) {
  background-image: url('./img/image 59.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 600px;
  max-width: 100%;
}

.carousel .card:nth-child(5) {
  background-image: url('./img/image 60.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 600px;
  max-width: 100%;
}

.carousel .card:nth-child(7) {
  background-image: url('./img/image 61.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 600px;
  max-width: 100%;
}

.carousel .card:nth-child(even) {
  width: 390px;
}

.buttons-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  gap: 10px;
}

.buttons-container i {
  background: #CECECE;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: background-color 0.3s ease;
}

.buttons-container i span.material-symbols-outlined {
  font-size: 20px;
  line-height: normal;
}

.buttons-container i span.material-symbols-outlined.disabled {
  background: #E0E0E0;
  cursor: not-allowed;
  box-shadow: none;
  color: #A0A0A0;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 493px;
  list-style: none;
  background: #AFB0B4;
  border-radius: 8px;
  cursor: pointer;
  width: 98%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.card .img {
  background: green;
  width: 145px;
  height: 145px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-group .button {
  background: #F9F9F9;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease;
  width: 40%;
  display: inline-block;
}

.button-group .button:hover {
  background: #6C151A;
  color: #F9F9F9;
}

.carousel .card:nth-child(2n) {
  padding: 40px;
  box-sizing: border-box;
  height: 493px;
  width: 378px;
  text-align: left;
}

.carousel .card:nth-child(2n) h2 {
  margin-top: 20px;
  margin-bottom: auto;
  font-size: 32px;
  font-weight: 500;
  color: #F9F9F9;
  text-align: left;
  width: 100%;
}

.carousel .card:nth-child(2n) span {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #F9F9F9;
  text-align: left;
}

@media (max-width: 480px) {
  body {
    margin-top: 0;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 0;
  }

  .text-label {
    width: 375px;
    height: 308px;
    margin-bottom: 5px;
  }

  .carousel .card:nth-child(1),
  .carousel .card:nth-child(3),
  .carousel .card:nth-child(5),
  .carousel .card:nth-child(7) {
    background-size: cover;
    background-position: center;
    width: 375px;
    height: 308px;
    margin-bottom: 5px;
  }

  .carousel .card:nth-child(2n) {
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 259px;
    width: 100%;
    text-align: left;
    margin-top: 5px;
}

  .carousel-container {
    width: 375px;
    height: auto;
    margin: 0 auto;
  }

  .carousel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    overflow-x: auto;
  }

  .text-label h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 0;
  }

  .text-label p {
    font-size: 17px;
    margin-top: 0;
  }

  .button-group .button {
    font-size: 15px;
    padding: 8px 17px;
  }

  .carousel .card:nth-child(2n) h2 {
    font-size: 25px;
  }

  .carousel .card:nth-child(2n) {
    padding: 0 40px;
  }

  .buttons-container {
    position: relative;
    top: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -35px;

  }

  .buttons-container i {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
}
